* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #edfff0;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: 100%;
}

header {
  top: 0;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0 10vh 0 10vh;
  align-items: center;
  font-size: 18px;
  color: #1a1a1a;
}

.nav-links {
  display: flex;
  list-style: none;
}

.name {
  font-size: 24px;
  font-weight: 700;
}

.nav-links-hover {
  display: flex;
  justify-content: space-around;
  margin-right: 3vh;
  padding: 2vh;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.nav-links-hover::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #1a1a1a;
  transition:
    width 0.3s ease 0s,
    left 0.3s ease 0s;
  width: 0;
}

.nav-links-hover:hover::after {
  width: 100%;
  left: 0;
}

main {
  min-height: calc(100vh - 20vh);
  flex: 1;
}

.heading {
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.project-grid {
  margin: 40px;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(2, 500px);
  grid-template-columns: repeat(2, auto);
  gap: 70px;
  grid-auto-flow: column;
}

.pro {
  border-radius: 10px;
  background-color: #af91866b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vh;
}

.pro:hover {
  box-shadow: 5px 5px 10px -2px #888;
  transform: scale(1.1);
  transition: 0.2s;
}

.pro strong a {
  text-decoration: none;
  color: #1a1a1a;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.pro strong a :visited {
  text-decoration: none;
  color: #1a1a1a;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.img-con {
  margin: 10px;
  width: 70vh;
  height: 2 00px;
  border-radius: 10px;
  overflow: hidden;
}

.img-con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
}

.icon {
  margin: 5px;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.ver-line-top {
  position: fixed;
  right: 0;
  top: 0;
  left: auto;
  margin-right: 0.7rem;
  width: 5px;
  height: 45vh;
  transform-origin: top right;
  background-color: #af91866b;
  border: none;
  z-index: 1000;
}

.ver-line-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: auto;
  margin-right: 0.7rem;
  width: 5px;
  height: 40vh;
  transform-origin: top right;
  background-color: #af91866b;
  border: none;
  z-index: 1000;
}

.ver-text {
  position: fixed;
  right: 0;
  top: 43%;
  transform: translateY(50%);
  writing-mode: vertical-rl;
}

.footer {
  display: flex;
  margin-top: auto;
  margin-right: 3rem;
  height: 10vh;
  width: 100%;
  background-color: #af91866b;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.darkmode {
  background-color: #1a1a1a;
  color: #edfff0;
}

.darkmode nav {
  color: #edfff0;
}

.darkmode nav a {
  color: #edfff0;
}

.darkmode .nav-links-hover {
  color: #edfff0;
}

.darkmode .nav-links-hover::after {
  background-color: #edfff0;
}

.darkmode .pro strong a {
  color: #edfff0;
}
