* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #edfff0;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: 100%;
}

header {
  top: 0;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0 10vh 0 10vh;
  align-items: center;
  font-size: 18px;
  color: #1a1a1a;
}

.nav-links {
  display: flex;
  list-style: none;
}

.name {
  font-size: 24px;
  font-weight: 700;
}

.nav-links-hover {
  display: flex;
  justify-content: space-around;
  margin-right: 3vh;
  padding: 2vh;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.nav-links-hover::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #1a1a1a;
  transition:
    width 0.3s ease 0s,
    left 0.3s ease 0s;
  width: 0;
}

.nav-links-hover:hover::after {
  width: 100%;
  left: 0;
}

main {
  min-height: calc(100vh - 20vh);
  flex: 1;
}

.contact {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1.3fr 2fr;
  gap: 8px;
}

.contact h2 {
  margin: 10px 0px 30px 50px;
}

.info {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 3fr);
  grid-template-columns: 0.8fr 2fr;
  gap: 8px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(to right, #af9186, #af9186);
  border-radius: 10px;
  margin-left: 50px;
}

.icon i {
  font-size: 2rem;
}

.social {
  margin-left: 50px;
  display: flex;
}

.social i {
  font-size: 1.5rem;
  margin-left: 10px;
}

.con-form h2 {
  margin-left: 0;
}

form {
  margin-right: 50px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #af91866b;
  border-radius: 8px;
  box-shadow: 0 2px 10px #888;
}

.form-group {
  margin-bottom: 15px;
  margin-right: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #1a1a1a;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #edfff0;
  border-radius: 5px;
  font-size: 16px;
}

input {
  background-color: #edfff0;
}

textarea {
  height: 100px;
  resize: vertical;
  background-color: #edfff0;
}

.send-btn {
  background-color: #af9186;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s;
}

.send-btn:hover {
  background-color: #a57b6c;
  color: #edfff0;
  /* box-shadow: 0 2px 10px #888; */
}

.send-btn:active {
  transform: translateY(1px);
}

.ver-line-top {
  position: fixed;
  right: 0;
  top: 0;
  left: auto;
  margin-right: 0.7rem;
  width: 5px;
  height: 45vh;
  transform-origin: top right;
  background-color: #af91866b;
  border: none;
  z-index: 1000;
}

.ver-line-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: auto;
  margin-right: 0.7rem;
  width: 5px;
  height: 40vh;
  transform-origin: top right;
  background-color: #af91866b;
  border: none;
  z-index: 1000;
}

.ver-text {
  position: fixed;
  right: 0;
  top: 43%;
  transform: translateY(50%);
  writing-mode: vertical-rl;
}

.footer {
  display: flex;
  margin-top: auto;
  margin-right: 3rem;
  height: 10vh;
  width: 100%;
  background-color: #af91866b;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.darkmode {
  background-color: #1a1a1a;
  color: #edfff0;
}

.darkmode nav {
  color: #edfff0;
}

.darkmode nav a {
  color: #edfff0;
}

.darkmode .nav-links-hover {
  color: #edfff0;
}

.darkmode .nav-links-hover::after {
  background-color: #edfff0;
}

.darkmode form label {
  color: #edfff0;
}

.darkmode form button {
  color: #edfff0;
}
